
/* mains */

body{
    background-color: #ffffff;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-family: 'Space Grotesk', sans-serif;
    font size: 2vh;
    font-weight: none;
    padding: 0;
    margin: 0;
}


.menubar{
    width: 100;
    background-color: #2196f3;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 10px 6px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}


.logo{
    max-width: 15vw;
    padding: 5px;
    display: inline-block;
}


.rotate180{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ERROR MESSAGE STYLE */

.modalback{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    text-align: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: red; /* Fallback color */
    background-color: rgba(0, 0, 0, .3); /* Black w/ opacity */
    /*background-color: rgba(0, 0, 0, .4);*/
    /*animation-duration: .2s;
    animation-name: fadein;
    animation-timing-function: ease-out;*/
}


.modal_frame{
    background-color: white;
    display: block;
    position: relative;
    border: 1px solid red;
    border-radius: 2px;
    padding: 5px;
    max-width: 50vw;
    margin: 25vh auto;
    box-shadow: 0px 0px 6px 2px rgba(255, 0, 0, 1);
    /*animation-duration: .2s;
    animation-name: slidein;
    animation-timing-function: ease-out;*/
}


.message_frame{
    background-color: white;
    display: block;
    position: relative;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    max-width: 50vw;
    margin: 25vh auto;
    box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);
    /*animation-duration: .2s;
    animation-name: slidein;
    animation-timing-function: ease-out;*/
}


.viking{
    position: absolute;
    max-width: 80px;
    bottom: 105%;
    left: -20px;bottom: 105%;
    left: -20px;
    transition: 0.3s;
}


.viking:hover{
    max-width: 90px;
    left: -25px;
}


.close_btn{
    position: absolute;
    max-width: 3vmax;
    /*bottom: 90%;*/
    top: -1.25vmax;
    right: -1.25vmax;
    transition: 0.3s;
}


.close_btn:hover{
    max-width: 4vmax;
    top: -1.5vmax;
    right: -1.5vmax;
}


.addm_frame{
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 10vh auto;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    max-width: 90vw;
    /*box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);*/
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}


.detail_frame{
    background-color: white;
    display: inline-block;
    position: relative;
    margin: 5vh auto;
    border: 1px solid rgba(25, 118, 210, 1);
    border-radius: 2px;
    padding: 5px;
    width: 90vw;
    height: 90vh;
    /*box-shadow: 0px 0px 6px 2px rgba(25, 118, 210, 1);*/
    box-shadow: 0px 0px 7px 5px rgba(0, 0, 0, .5);
}
