<div id="adduser_modal" class="modalback">

    <div class="addm_frame" id="adduser_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="closemodal('adduser_modal')">

        <h6>Felhasználó regisztrálása</h6>

        <div>

            <div>
                <img id="adduser_img" style="width: 8vw; height: 8vw; position: relative; left: 5px; border-radius: 5px;"
                     src="/static/img/avatars/a_unknown.png" onclick="req_for_aselector()">
            </div>

        </div>

        <button class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" id="loginbutton" onclick="try_login()">
            regisztrálás
        </button>

    </div>

</div>