
<table class="highlight " style="max-width: 95%; margin: auto; color: #ffc107;" id="utable">
    <thead style="text-align: center;">
        <tr>
            <th>ID</th>
            <th>Felhasználónév</th>
            <th>Email</th>
            <th>Csatlakozás dátuma</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}

        <tr id={{user.id}} opened=false>

            <td>
                {{user.id}}
                <i class="tiny material-icons rotate180" onclick="opendetail({{user.id}})" id="icon_{{user.id}}">play_arrow</i>
            </td>

            <td>
                <div class="valign-wrapper">
                {% if user.is_superuser %}
                <i class="tiny material-icons">psychology</i>
                {% endif %}
                {{user.username}}
                {%if not user.is_superuser or user.username != current_user.username%}
                <a class="btn-floating btn-small waves-effect waves-light red " onclick="deluser({{user.id}})">
                    <i class="tiny material-icons">delete</i>
                </a>
                {%endif%}
                </div>
            </td>

            <td>{{user.email}}</td>

            <td>{{user.joined.strftime("%Y. %b. %d.")}}</td>

            <td>{{user.last_activity}}</td>

        </tr>

        <tr id="details_{{user.id}}" style="display: none;">
            <td colspan=5>
                <div style="width: 100%; border: 1px solid white; display: inline-block;">

                    <p>
                        <img style="width: 8vw; height: 8vw; position: relative; left: 5px; border-radius: 5px;"
                             {% if  user.photo_path or user.photo_path != ''%}
                             src="{{user.photo_path}}"
                             {% else %}
                             src="/static/img/avatars/a_unknown.png"
                             {% endif %}
                             onclick="req_for_aselector()" id="useravatar_{{user.id}}">

                        <a id="avatarsrc" style="display: none;">{{user.photo_path}}</a>
                    </p>

                    <p>
                        Teljes név: {{user.fullname}}
                    </p>

                    <p>
                        Lakcím: {{user.address}}
                    </p>

                    <p>
                        Születési idő: "{{user.dob}}"
                    </p>

                </div>
            </td>
        </tr>

        {% endfor %}

    </tbody>

    </table>