
<div class="">

    <div class="carousel carousel-slider center" style="height: 85vh;" id="admincarousel">

        <div id="prevslide" style="left: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px;"
            onclick="uc_prev()" class="valign-wrapper car_nav">
            <i class="material-icons small navicon">skip_previous</i>
        </div>

        <div id="nextslide" style="right: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px;"
            onclick="uc_next()" class="valign-wrapper car_nav">
            <i class="material-icons small navicon">skip_next</i>
        </div>

        <div id="users" class="carousel-item brown darken-3 white-text" style="overflow-x: scroll;">
            <h2>
                <p style="color: #ffc107;">Felhasználók
                <a class="btn-floating btn-small waves-effect waves-light green darken-2"><i class="material-icons">add</i></a>
                </p>
            </h2>
            <p id="table_users">{% include 'admin_users.html' %}</p>
        </div>

        <div class="carousel-item green darken-2" style="">
            <h2> Extras </h2>
            <p>{% include 'admin_extra.html' %}</p>
        </div>

    </div>

  <script>
      var car = $('.carousel.carousel-slider').carousel({
        fullWidth: true
        //indicators: true,
        //noWrap: true,
        //onCycleTo: function(data) {
        //current_slide = data.id;
        //when user changes page, current slide id will be stored in current_slide as "uc_XXX", where XXX is the id of the pocket
        //console.log(current_slide);
    //}
    });
  </script>

</div>