
<table class="highlight" style="max-width: 95%; margin: auto;">
    <thead style="text-align: center;">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>email</th>
            <th>Joined</th>
            <th>Last active</th>
        </tr>
    </thead>

    <tbody>

        {% for user in users %}

        <tr id={{user.username}}>

            <td>{{user.id}}</td>

            <td>
                {{user.username}}
                {%if not user.is_superuser%}
                <a class="btn-floating btn-small waves-effect waves-light red" id="{{user.id}}" name="{{user.id}}" onclick="deluser(this)">
                    <i class="small material-icons">delete</i>
                </a>
                {%endif%}
            </td>

            <td>{{user.email}}</td>

            <td>{{user.joined}}</td>

            <td>{{user.last_activity}}</td>

        </tr>

        <tr>
            <td colspan=5>
                <div style=" width: 100%; border: 1px solid white;, height: 20px; display: inline-block;" id="details_{{user.id}}">
                    ---data---
                </div>
            </td>
        </tr>

        {% endfor %}

    </tbody>

    </table>