<div id="avatarmodal" class="modalback">

    <div class="addm_frame" id="avatar_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="closemodal('avatarmodal')">

        <h6>elérhető képek</h6>

        <div class="row">
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/a_unknown.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/adminavatar.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/esmeralda.png" onclick="showuri(this)">
            </div>
        </div>

        <div class="row">
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/gergo.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/eszter.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/rudolf.png" onclick="showuri(this)">
            </div>
        </div>

        <div class="row">
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/ildiko.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/peter.png" onclick="showuri(this)">
            </div>
            <div style="display: inline-block; width: 8vw; height: 8vw;">
                <img style="width:100%; height: 100%; border-radius: 5px" src="/static/img/avatars/sanyi.png" onclick="showuri(this)">
            </div>
        </div>



        <button class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" id="submitbutton" onclick="">
            rendben
        </button>
        <button class="waves-effect waves-light btn btn-small red " style="border-radius: 2px;" id="cancelbutton" onclick="closemodal('avatarmodal')">
            mégse
        </button>

    </div>

</div>