<div id="loginmodal" class="modalback">

    <div class="addm_frame" id="login_frame">

        <img class="close_btn" draggable="false" src="/static/img/icons/close.png" id="close_modal" onclick="closemodal('loginmodal')">

        <h4>login</h4>

        <form method="post" id="loginform" novalidate>
            {{ loginform.hidden_tag() }}
            <ul>

                <li>
                <div class="input-field center-align">
                    <i class="material-icons prefix">account_circle</i>
                    <!-- <input id="login_username" type="text" class="validate"> -->
                    {{loginform.username( id="login_username" )}}
                    <label for="login_username">username</label>
                </div>
            </li>

                <li>
                <div class="input-field center-align">
                    <i class="material-icons prefix">pending</i>
                    <!-- <input id="login_password" type="password" class="validate"> -->
                    {{loginform.password(id="login_password" )}}
                    <label for="login_password">password</label>
                </div>
            </li>

                <li>
                <p class="center-align">
                <label>
                    <!-- <input type="checkbox" id="input_remember"/> -->
                    {{ loginform.remember_me(id="input_remember", type="checkbox") }}
                    <span>remember me!</span>
                </label>
                </p>
            </li>

            </ul>

        </form>

        <button class="waves-effect waves-light btn btn-small" style="border-radius: 2px;" id="loginbutton" onclick="loginattempt('loginform')">
            login
        </button>

        forgot password!

    </div>

</div>